# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [24]:
chipo[chipo["item_price"].apply(lambda x: float(x[1:]) > 10.00)].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
d=chipo['item_name']+chipo['item_price']
d

0                Chips and Fresh Tomato Salsa$2.39
1                                        Izze$3.39
2                            Nantucket Nectar$3.39
3       Chips and Tomatillo-Green Chili Salsa$2.39
4                               Chicken Bowl$16.98
                           ...
4617                           Steak Burrito$11.75
4618                           Steak Burrito$11.75
4619                      Chicken Salad Bowl$11.25
4620                       Chicken Salad Bowl$8.75
4621                       Chicken Salad Bowl$8.75
Length: 4622, dtype: object

### Step 6. Sort by the name of the item

In [10]:
chipo['item_name'].sort_values(ascending=False)

3889    Veggie Soft Tacos
2851    Veggie Soft Tacos
738     Veggie Soft Tacos
1395    Veggie Soft Tacos
2384    Veggie Soft Tacos
              ...
1916    6 Pack Soft Drink
1124    6 Pack Soft Drink
3789    6 Pack Soft Drink
1392    6 Pack Soft Drink
3614    6 Pack Soft Drink
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
d1=chipo[chipo['item_price'].apply(lambda x: x == chipo['item_price'].max())]
d1

,order_id,quantity,item_name,choice_description,item_price
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$9.39
1418,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
1865,756,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
3098,1235,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
3356,1346,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [18]:
chipo[chipo["item_name"].apply(lambda x: x == "Veggie Salad")].shape[0]

6

### Step 9. How many times did someone order more than one Canned Soda?

In [23]:
d2=chipo[chipo["item_name"].apply(lambda x: x == "Canned Soda")]["quantity"]>1
list(d2).count(True)

20